Body{
    background-color: black;
    color: white;
}
;k7{ 
    text-align: center;
}
.r7{
    height: 500px;
    width: 600px;
    border-radius: 30px;
    border:  4px solid ;
}
.v7{
    image-rendering:optimizeQuality;
    height: 400px;
    width:  600px;
    border-radius: 20px;
}
.set{
    display: inline-block;
    display: flex;
}
.Bz22{
    height: 500px;
    width: 520px;
border-radius: 20px;
}
.bingo{
    display: inline-block;
    display: flex;
}